
.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.node {
    fill: #000;
    stroke-width: 1.5px;
}

.node:hover {
    cursor: pointer;
}



.d3-tip {
    line-height: 1;

    padding: 8px;
    background: rgba(40, 40, 40, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(40, 40, 40, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}


